{% extends "main_page/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
{% endblock %}

{% block body %}
{% include "main_page/base.html" %}

    <div class="record-container">
        <h2 class="record-title">📌 Запись клиента</h2>

        <div class="record-info">
            <h3>👤 Данные клиента:</h3>
            <p><strong>Имя:</strong> {{ user.name }}</p>
            <p><strong>Фамилия:</strong> {{ user.surname }}</p>
            <p><strong>Телефон:</strong> {{ user.phone }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <div class="record-services">
            <h3>🛍 Выбранные услуги:</h3>
            <ul>
                {% for item in basket_items %}
                    <li>{{ item.service.name }} — {{ item.quantity }} шт.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="record-time">
            <h3>🕒 Дата и время записи:</h3>
            <p>{{ user.record_time }}</p>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    
{% endblock extra_js %}

