{% extends "main_page/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/schedule_add.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block title %}Добавить Расписание{% endblock %}

{% block body %}
{% include "main_page/base.html" %}
    <div class="schedule-add-container">
        {% comment %} <h2 class="schedule-add-title">Добавить расписание</h2> {% endcomment %}
        <form method="POST" action="{% url 'service:schedule_add' %}" enctype="multipart/form-data" class="schedule-form">

            {% csrf_token %}
            
            <!-- Поле для выбора даты -->
            <div class="input-group">
                {{ form.date }}
            </div>

            <!-- Поле для выбора времени -->
            <div class="input-group">
                {{ form.time }}
            </div>

            <!-- Чекбокс доступности -->
            <div class="checkbox-group">
                {{ form.is_available }}
                <label for="{{ form.is_available.id_for_label }}">Свободно</label>
            </div>

            <!-- Кнопка отправки -->
            <button type="submit" class="submit-button">Добавить расписание</button>
        </form>
    </div>  
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'services/js/schedule.js' %}"></script>    
{% endblock %}