{% extends "main_page/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/work_schedule.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/css/navbar.css' %}">
{% endblock %}

{% block body %}
    {% include "main_page/base.html" %}
    <div class="schedule-add-container">
        <h2 class="schedule-add-title">Настроить график работы</h2>

        <form method="POST" action="{% url 'service:schedule_add' %}" class="schedule-form">

            {% csrf_token %}

            <!-- Календарь для выбора даты -->
            <div class="input-group">
                <label for="schedule_date">Выберите дату:</label>
                <br>
                <input type="date" id="schedule_date" name="schedule_date" required>
            </div>

            <!-- Время начала работы -->
            <div class="input-group">
                <label for="{{ form.start_time.id_for_label }}">Время начала:</label>
                <br>
                {{ form.start_time }}
            </div>

            <!-- Время окончания работы -->
            <div class="input-group">
                <label for="{{ form.end_time.id_for_label }}">Время окончания:</label>
                <br>
                {{ form.end_time }}
            </div>
            <!-- Кнопка отправки -->
            <button type="submit" class="submit-button">Сохранить график</button>
        </form>

    </div>  
{% endblock %}

{% block extra_js %}
    <script src="{% static 'services/js/schedule.js' %}"></script>
{% endblock %}
