{% extends "main_page/base.html" %}
{% load static %}
{%block extra_css%}

    <link rel="stylesheet" href="{% static 'client_web/css/cart.css' %}">
    <!-- Подключаем jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{%endblock%}
{% block body %}

    <div class="cart-container">
        <h1 class="cart-title">Ваша корзина</h1>

        {% if basket %}
            <div class="cart-list">
                {% for item in basket %}
                    <div class="cart-item">
                        <h2 class="cart-service-name">{{ item.service.name }}</h2>
                        <p class="cart-service-price">Цена: <strong>{{ item.service.price }} руб.</strong></p>
                        <p class="cart-service-quantity">Количество: {{ item.quantity }}</p>

                        <!-- Форма для удаления товара из корзины -->
                        <form method="post" action="{% url 'client:basket_delete' slug_company=slug_company slug_username=slug_username item_id=item.id %}">

                            {% csrf_token %}
                            <button type="submit" class="cart-remove-btn">Удалить</button>
                        </form>

                        
                    </div>
                {% endfor %}
            </div>

                        <!-- Отображение общей суммы -->
            <div class="cart-total">
                <p class="cart-total-text">Общая сумма: <strong>{{ total_sum }} руб.</strong></p>
            </div>

                        

                        <!-- Кнопка для перехода к оформлению -->
            <div class="continue-button-container">
                            <!-- Кнопка "Вернуться назад" (слева) -->
                <form action="{% url 'client:client_services' slug_company=slug_company slug_username=slug_username %}" method="get">
                    <button type="submit" class="back-btn">Вернуться назад</button>
                </form>
                        
                            <!-- Кнопка "Перейти к оформлению" (справа) -->
                <a href="{% url 'client:schedule' slug_company=slug_company slug_username=slug_username %}" class="checkout-btn">
                     Перейти к оформлению
                </a>
            </div>

            
        {% else %}
            <p class="empty-cart">Корзина пуста</p>
        {% endif %}
    </div>
{% endblock %}

