{% extends "main_page/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'client_web/css/user_form.css' %}">
{% endblock %}

{% block body %}
    <div class="user-form-container">
        <h1 class="form-title">Форма пользователя</h1>
        <p class="form-description">Заполните данные для завершения записи.</p>

        <form method="post" id="user-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}